<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0 text-decoration-none">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-light">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-decoration-none">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline  text-light">Cursos</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 text-decoration-none"> <span class="d-none d-sm-inline  text-light">Desarrollo Web</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-decoration-none"> <span class="d-none d-sm-inline  text-light">Java Script</span></a>
                            </li>
                        </ul>
                    </li>
                 
                </ul>
                <hr>
             
            </div>
        </div>
    </div>
</div>
